* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background: url(../img/bgimg.jpg) no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    --themeColor: #0d0d0e;
}

@keyframes running {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#app .hidden {
    display: none;
}

#app .show {
    display: block;
}

#app .app-palyer {
    position: absolute;
    width: 800px;
    height: 600px;
    border-radius: 10px;
}

#app .app-palyer .app-player-searchBar {
    height: 60px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--themeColor);
}

#app .app-palyer .app-player-searchBar .title {
    color: rgb(214, 208, 208);
    font-size: 20px;
    font-weight: 300;
    margin-left: 20px;
}

#app .app-palyer .app-player-searchBar input {
    width: 300px;
    height: 30px;
    border: 0px;
    border-radius: 20px;
    text-indent: 15px;
    background: url(../img/zoom.png) 270px center no-repeat white;
}

#app .app-palyer .app-player-content {
    height: 480px;
    width: 100%;
    display: flex;
    border-bottom: 1px dotted var(--themeColor);
    background-color: rgba(255, 255, 255, 0.6);
}

#app .app-palyer .app-player-content .app-player-content-left {
    width: 200px;
    border-right: 1px dotted var(--themeColor);
    height: 480px;
}

#app .app-palyer .app-player-content .app-player-content-left .app-player-songs-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

#app .app-palyer .app-player-content .app-player-content-left .app-player-songs-list .app-player-songs-list-item {
    border-radius: 5px;
    padding: 10px;
    height: 40px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#app .app-palyer .app-player-content .app-player-content-left .app-player-songs-list .app-player-songs-list-item .player-audio {
    width: 25px;
    height: 25px;
    background: url(../img/table.png) -18px -18px;
}

#app .app-palyer .app-player-content .app-player-content-left .app-player-songs-list .app-player-songs-list-item .player-name {
    height: 30px;
    width: 150px;
    font-size: 16px;
    color: #252424;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    line-height: 30px;
}

#app .app-palyer .app-player-content .app-player-content-left .app-player-songs-list .app-player-songs-list-item .player-mv {
    width: 30px;
    height: 20px;
    background: url(../img/table.png) left -45px;
}

#app .app-palyer .app-player-content .app-player-content-left .app-player-songs-list .app-player-songs-list-item:nth-child(odd) {
    background-color: rgba(230, 224, 224, 0.5);
}

#app .app-palyer .app-player-content .app-player-content-middle {
    width: 400px;
    border-right: 1px dotted var(--themeColor);
    position: relative;
}

#app .app-palyer .app-player-content .app-player-content-middle .player-bar {
    left: 200px;
    position: absolute;
    z-index: 8;
    transform: rotate(-25deg);
    transform-origin: 12px 12px;
    transition: all 2s;
}

#app .app-palyer .app-player-content .app-player-content-middle .playing {
    transform: rotate(0);
}

#app .app-palyer .app-player-content .app-player-content-middle .cover {
    top: 156px;
    left: 156px;
    position: absolute;
    width: 150px;
    height: 150px;
}

#app .app-palyer .app-player-content .app-player-content-middle .disc {
    position: absolute;
    left: 100px;
    top: 100px;
}

#app .app-palyer .app-player-content .app-player-content-middle .autorotate {
    animation-name: running;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#app .app-palyer .app-player-content .app-player-content-right {
    width: 200px;
}

#app .app-palyer .app-player-content .app-player-content-right .comment-title {
    font-weight: 500;
    padding: 5px;
    height: 30px;
}

#app .app-palyer .app-player-content .app-player-content-right .comment-list {
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#app .app-palyer .app-player-content .app-player-content-right .comment-list .comment-list-item {
    padding: 5px;
    display: flex;
    align-items: flex-start;
}

#app .app-palyer .app-player-content .app-player-content-right .comment-list .comment-list-item .imageWrapper {
    padding: 5px;
}

#app .app-palyer .app-player-content .app-player-content-right .comment-list .comment-list-item .imageWrapper img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#app .app-palyer .app-player-content .app-player-content-right .comment-list .comment-list-item .comment-content .nickName {
    font-size: 16px;
}

#app .app-palyer .app-player-content .app-player-content-right .comment-list .comment-list-item .comment-content .content {
    font-size: 12px;
    color: rgb(34, 33, 33);
    font-weight: 100;
}

#app .app-palyer .app-player-footer {
    height: 60px;
    width: 100%;
    background-color: var(--themeColor);
}

#app .app-palyer .app-player-footer audio {
    width: 100%;
    height: 100%;
    background-color: white;
}

#app .app-palyer .app-player-footer .video-box video {
    transform: translate(-50%, -50%);
    left: 50%;
    height: 800px;
    width: 600px;
    position: fixed;
    z-index: 999;
    top: 50%;
}

#app .app-palyer .app-player-footer .video-box .vedio-close {
    position: fixed;
    color: white;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

#app .app-palyer .app-player-footer .video-box .video-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-color: black;
    z-index: 888;
}

#yddContainer {
    display: block;
    font-family: Microsoft YaHei;
    position: relative;
    width: 100%;
    height: 100%;
    top: -4px;
    left: -4px;
    font-size: 12px;
    border: 1px solid;
}

#yddTop {
    display: block;
    height: 22px;
}

#yddTopBorderlr {
    display: block;
    position: static;
    height: 17px;
    padding: 2px 28px;
    line-height: 17px;
    font-size: 12px;
    color: #5079bb;
    font-weight: bold;
    border-style: none solid;
    border-width: 1px;
}

#yddTopBorderlr .ydd-sp {
    position: absolute;
    top: 2px;
    height: 0;
    overflow: hidden;
}

.ydd-icon {
    left: 5px;
    width: 17px;
    padding: 0px 0px 0px 0px;
    padding-top: 17px;
    background-position: -16px -44px;
}

.ydd-close {
    right: 5px;
    width: 16px;
    padding-top: 16px;
    background-position: left -44px;
}

#yddKeyTitle {
    float: left;
    text-decoration: none;
}

#yddMiddle {
    display: block;
    margin-bottom: 10px;
}

.ydd-tabs {
    display: block;
    margin: 5px 0;
    padding: 0 5px;
    height: 18px;
    border-bottom: 1px solid;
}

.ydd-tab {
    display: block;
    float: left;
    height: 18px;
    margin: 0 5px -1px 0;
    padding: 0 4px;
    line-height: 18px;
    border: 1px solid;
    border-bottom: none;
}

.ydd-trans-container {
    display: block;
    line-height: 160%;
}

.ydd-trans-container a {
    text-decoration: none;
}

#yddBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    background-position: left -22px;
}

.ydd-padding010 {
    padding: 0 10px;
}

#yddWrapper {
    color: #252525;
    z-index: 10001;
    background: url(chrome-extension://eopjamdnofihpioajgfdikhhbobonhbb/ab20.png);
}

#yddContainer {
    background: #fff;
    border-color: #4b7598;
}

#yddTopBorderlr {
    border-color: #f0f8fc;
}

#yddWrapper .ydd-sp {
    background-image: url(chrome-extension://eopjamdnofihpioajgfdikhhbobonhbb/ydd-sprite.png);
}

#yddWrapper a,
#yddWrapper a:hover,
#yddWrapper a:visited {
    color: #50799b;
}

#yddWrapper .ydd-tabs {
    color: #959595;
}

.ydd-tabs,
.ydd-tab {
    background: #fff;
    border-color: #d5e7f3;
}

#yddBottom {
    color: #363636;
}

#yddWrapper {
    min-width: 250px;
    max-width: 400px;
}